ENV=dev
REDIS__HOST=fastchat_profiles_cache
REDIS__PORT=6379
SECURITY__ALGORITHM=RS256
SECURITY__API_KEY=VerY-sEcrET-kEy
RUN_CONFIG__SCHEME=https
DATABASE__HOST=fastchat_profiles_db
DATABASE__PORT=5432
DATABASE__USER=postgres
DATABASE__PASSWORD=postgres
DATABASE__NAME=postgres
